<!DOCTYPE html>
<html>

<head>
    <title>Bet History</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="sidebar">

    <h2>Shiny Bets</h2>

    <a href="/">Home</a>
    <a href="/bets">Current Bets</a>
    <a href="/history">Past Bets</a>
    <a href="/leaderboard">Leaderboard</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>

</div>

<div class="main">

    <h1>Bet History</h1>

    {% for bet in bets %}

    <div class="card">

        <h2>{{ bet.title.title() }}</h2>

        <img
            src="https://img.pokemondb.net/sprites/home/shiny/{{ bet.title.lower() }}.png"
            width="150"
            style="image-rendering: pixelated;"
        >

        <p>
            <strong>Player:</strong>
            {{ bet.player }}
        </p>

        <p>
            <strong>Target Encounter:</strong>
            {{ bet.target_encounter }}
        </p>

        <p>
            <strong>Actual Encounter:</strong>
            {{ bet.actual_encounter }}
        </p>
        <p>
            <strong>Bet Amount:</strong>

            ₽{{ "{:,.0f}".format(bet.bet_amount) }}
        </p>
        <p>
            <strong>Payout:</strong>

            {% if bet.payout > 0 %}

            <span style="color:#00ff99;">

                ₽{{ "{:,.0f}".format(bet.payout) }}

            </span>

            {% else %}

            <span style="color:#ff5555;">
                Loss
            </span>

            {% endif %}
        </p>
        <p>
            <strong>Status:</strong>

            {% if bet.status == 'Won' %}

            <span style="color:#00ff99;">
                {{ bet.status }}
            </span>

            {% else %}

            <span style="color:#ff5555;">
                {{ bet.status }}
            </span>

            {% endif %}
        </p>

    </div>

    {% endfor %}

</div>

</body>
</html>