<!DOCTYPE html>
<html>

<head>

    <title>Current Bets</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>
<button class="menu-btn" onclick="toggleSidebar()">
    ☰ Menu
</button>
{% include 'components/sidebar.html' %}

<div class="main">

    <h1>Current Bets</h1>
    
    <div class="bets-container">

    {% for bet in bets %}

    {% if bet.status == 'Open' %}

    <div class="bet-card">

        <h2>{{ bet.title.title() }}</h2>

        <img
            src="https://img.pokemondb.net/sprites/home/shiny/{{ bet.title.lower() }}.png"
            width="150"
            style="image-rendering: pixelated;"
        >

        <p>
            <strong>Player:</strong>
            {{ bet.player }}
        </p>

        <p>
            <strong>Current Encounter:</strong>
            {{ "{:,}".format(bet.current_encounter) }}
        </p>

        <p>
            <strong>Bet Encounter:</strong>
            {{ "{:,}".format(bet.target_encounter) }}
        </p>

        <p>
            <strong>Bet Amount:</strong>
            ¥{{ "{:,.0f}".format(bet.bet_amount) }}
        </p>

        <hr>

<h3>Payout Tiers</h3>

<p>
    Within 4000 Enc:
    <strong class="tier-low">
        ¥{{ "{:,.0f}".format(bet.bet_amount * 1.10) }}
    </strong>
</p>

<p>
    Within 3000 Enc:
    <strong class="tier-low">
        ¥{{ "{:,.0f}".format(bet.bet_amount * 1.15) }}
    </strong>
</p>

<p>
    Within 2000 Enc:
    <strong class="tier-low">
        ¥{{ "{:,.0f}".format(bet.bet_amount * 1.20) }}
    </strong>
</p>

<p>
    Within 1000 Enc:
    <strong class="tier-mid">
        ¥{{ "{:,.0f}".format(bet.bet_amount * 1.25) }}
    </strong>
</p>

<p>
    Within 500 Enc:
    <strong class="tier-mid">
        ¥{{ "{:,.0f}".format(bet.bet_amount * 1.50) }}
    </strong>
</p>

<p>
    With in 250 Enc:
    <strong class="tier-mid">
        ¥{{ "{:,.0f}".format(bet.bet_amount * 1.75) }}
    </strong>
</p>

<p>
    Within 100 Enc:
    <strong class="tier-mid">
        ¥{{ "{:,.0f}".format(bet.bet_amount * 2.00) }}
    </strong>
</p>

<p>
    Within 50 Enc:
    <strong class="tier-mid">
        ¥{{ "{:,.0f}".format(bet.bet_amount * 2.50) }}
    </strong>
</p>

<p>
    Within 10 Enc:
    <strong class="tier-mid">
        ¥{{ "{:,.0f}".format(bet.bet_amount * 3.00) }}
    </strong>
</p>
<p class="house-note">

    Final payouts include a 10% house fee deduction.

</p>
    </div>

    {% endif %}

    {% endfor %}

</div>

</div>

<script>

function toggleSidebar() {

    document
        .querySelector('.sidebar')
        .classList
        .toggle('active');

}

</script>
</body>
</html>