<!DOCTYPE html>
<html>

<head>

    <title>Leaderboard</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>
<button class="menu-btn" onclick="toggleSidebar()">
    ☰ Menu
</button>
{% include 'components/sidebar.html' %}

<div class="main">

    <h1>Top Players</h1>

    {% for user in users %}

    <div class="card">

        <h2>#{{ loop.index }} - {{ user.username }}</h2>

        <p>
            <strong>Total Profit:</strong>
            ${{ user.profit }}
        </p>

        <p>
            <strong>Bets Won:</strong>
            {{ user.bets_won }}
        </p>

        <p>
            <strong>Bets Lost:</strong>
            {{ user.bets_lost }}
        </p>

    </div>

    {% endfor %}

</div>
<script>

function toggleSidebar() {

    document
        .querySelector('.sidebar')
        .classList
        .toggle('active');

}

</script>
</body>
</html>