<!DOCTYPE html>
<html>

<head>
    <title>Login</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<button class="menu-btn" onclick="toggleSidebar()">
    ☰ Menu
</button>

{% include 'components/sidebar.html' %}

<div class="main">

    <div class="card" style="
        max-width:500px;
        margin:auto;
        margin-top:100px;
        text-align:center;
    ">

        <h1>Login</h1>

        <p style="color:#999;">
            Access your betting dashboard
        </p>

        <form method="POST">

            <input
                name="username"
                placeholder="Username"
                required
            ><br><br>

            <input
                type="password"
                name="password"
                placeholder="Password"
                required
            ><br><br>

            <button type="submit">
                Login
            </button>

        </form>

        <hr style="margin:30px 0;">

        <button style="
            background:#5865F2;
            color:white;
            width:100%;
        ">
            Login with Discord
        </button>

    </div>

</div>
<script>

function toggleSidebar() {

    document
        .querySelector('.sidebar')
        .classList
        .toggle('active');

}

</script>
</body>
</html>